* {
    background-color: black;
    color: orangered;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.answer {
    display: inline;
    margin: auto;
    background-color: orange;
    color: azure;
}

.start {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: blue;
}